<div class="container login-box">
    <div class="row main">
        <div class="main-login main-center">
            <h1 class="title">Login</h1>
            <form class="form-horizontal" #loginForm="ngForm" (submit)="login(loginForm)" >
                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope fa" aria-hidden="true"></i>
                            </span>
                            <input type="text" class="form-control" name="email" id="email" ngModel placeholder="Enter your Email" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                            </span>
                            <input type="password" class="form-control" name="password" id="password" ngModel placeholder="Enter your Password" />
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button" [disabled]="loginForm.invalid">Log In</button>
                </div>
                <div class="login-register">
                    <a routerLink="/register">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>