<div class="home-box">
	<section class="container">
		<div class="jumbotron">
			<h1>Travel Journal</h1>
			<p>Share your travelling story.</p>
		</div>
	</section>
	<div class="container ">
		<div class="col-sm-6 col-md-8 col-lg-8 welcome-box">
			<p>This is our shared journal. You can write about your cool journey. We are looking forward to see your adventure! Just
				<a routerLink="/register"><b>Register</b></a> or <a routerLink="/signin"><b>Sign In</b></a> and lets your sharing journey begin!
			</p>
			<p>
				Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit
				libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis condimentum,
				sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus
				et ultrices posuere cubilia Curae; Fusce id purus. Ut varius tincidunt libero. Phasellus dolor. Maecenas vestibulum mollis
				diam. Pellentesque ut neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
			</p>
			<img src="../../../assets/pictures/travel-together.gif" alt="we-travel-together" />
		</div>

		<div class="col-sm-6 col-md-4 col-lg-4">
			<div class="panel panel-default">
				<div class="panel-body">

					<h4 class="text-center">
						<a routerLink="/about">About Us</a>
					</h4>
					<img src='../../../assets/pictures/travel-aboutus.jpeg' alt="travel-girl" class="img-thumbnail img-responsive">
					<h5 class="text-center">Travel journal's team</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
						dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
						book.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>