.container{
    margin-bottom: 25px
}

h1.title { 
    font-size: 40px;
    color:#638263;
    font-weight: 1000;
    text-align: center;
 }

 
 hr{
    width: 20%;
    color: #638263;
 }
 
 label{
    margin-bottom: 15px;
 }
 
 input,
 input::-webkit-input-placeholder {
    font-size: 30px;
    padding-top: 3px;
 }
 
 .main-login{
     background-color: #fff;
     font-size: 25px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 
 }
 
 .main-center{
     margin-top: 30px;
     margin: 0 auto;
     max-width: 800px;
    padding: 40px;
 
 }
 
 .login-button{
    margin-top: 5px;
    background-color: #638263;
 }
 
 .login-register{
    font-size: 18px;
    text-align: center;
 }

 .login-register a{
    color: #638263;
 }
 
 .container.login-box {
    margin-top: 130px;
    margin-bottom: 130px;
}
.input-group{
    width: 100%;
}
img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}